#tracker{

	float:left; 
	clear:both; 
	position:relative; 
	width:100%; 
	color:#fff; 
	background:#000;

}

.forty{

	min-height:40px;

}

.hook{

	float:left; 
	width:20%; 
	font-size:75%;
	padding:3px;

}

.time{

	float:left; 
	width:20%; 
	height:100%;

}

.memory{

	float:left; 
	width:10%; 
	
}

.tracker_row{

	float:left; 
	position:relative; 
	width:100%; 
	border-top:1px solid #000; 
	color:#000; 
	background:#fff;
	
}

.tracker_row .hook{

	background : #aaa;
	min-height:40px;

}

.memory_row{

	float:left; 
	width:30%; 
	
}

.memory_row div{

	float:left; 
	width:33%; 
	min-height:20px;

}

#empty_block p{

	border-bottom:1px solid #888;
	font-face:verdana;


}

#empty_block div p{

	border:none;

}